/* Poppins */
@font-face { font-family: 'Poppins-Thin'; src: url('../assests/fonts/Poppins-Thin.ttf') format('truetype'); font-weight: 100;   font-style: normal;
}
@font-face { font-family: 'Poppins-ExtraLight'; src: url('../assests/fonts/Poppins-ExtraLight.ttf') format('truetype'); font-weight: 200;   font-style: normal;
}
@font-face { font-family: 'Poppins-Light'; src: url('../assests/fonts/Poppins-Light.ttf') format('truetype'); font-weight: 300;   font-style: normal;
}
@font-face { font-family: 'Poppins-Regular'; src: url('../assests/fonts/Poppins-Regular.ttf') format('truetype'); font-weight: 400;  font-style: normal;
}
@font-face { font-family: 'Poppins-Medium'; src: url('../assests/fonts/Poppins-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal;
}
@font-face { font-family: 'Poppins-SemiBold'; src: url('../assests/fonts/Poppins-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal;
}
@font-face { font-family: 'Poppins-Bold'; src: url('../assests/fonts/Poppins-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal;
}
@font-face { font-family: 'Poppins-ExtraBold'; src: url('../assests/fonts/Poppins-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal;
}
@font-face { font-family: 'Poppins-Black'; src: url('../assests/fonts/Poppins-Black.ttf') format('truetype'); font-weight: 900; font-style: normal;
}

/* Brighter */
@font-face { font-family: 'Brighter-Regular'; src: url('../assests/fonts/Brighter-Regular.ttf') format('truetype'); font-weight: 400;  font-style: normal;
}
@font-face { font-family: 'Brighter-Bold'; src: url('../assets/fonts/MTNBrighterSans-Bold.ttf') format('truetype'); font-weight: 700;   font-style: normal;
}

/* NotoSans */
@font-face { font-family: 'NotoSans-Thin'; src: url('../assests/fonts/NotoSans-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'NotoSans-ExtraLight'; src: url('../assests/fonts/NotoSans-ExtraLight.ttf') format('truetype'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'NotoSans-Light'; src: url('../assests/fonts/NotoSans-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'NotoSans-Regular'; src: url('../assests/fonts/NotoSans-Regular.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'NotoSans-Medium'; src: url('../assests/fonts/NotoSans-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'NotoSans-SemiBold'; src: url('../assests/fonts/NotoSans-SemiBold.ttf') format('truetype'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'NotoSans-Bold'; src: url('../assests/fonts/NotoSans-Bold.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'NotoSans-ExtraBold'; src: url('../assests/fonts/NotoSans-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'NotoSans-Black'; src: url('../assests/fonts/NotoSans-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }